body {
    padding-top: 56px; /* Höhe der Navigation, damit der Inhalt darunter nicht verdeckt wird */
    font-family: 'Raleway', sans-serif;
}
.navbar-nav .nav-link {
    font-size: 1.25rem; /* Schriftgröße der Navigation */
    font-weight: 700; /* Fettgedruckt für eine stärkere Präsenz */
    margin-right: 20px; /* Abstand zwischen den Menüpunkten */
}
.navbar-brand {
    font-size: 1.5rem; /* Schriftgröße des Brand-Logos */
    font-weight: 700; /* Fettgedruckt */
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}
 ul li {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}
th, td {
    text-align: center;
    padding: 2px;
}
th{
    cursor: pointer;
}
.flag-icon {
    width: 50px; /* Breite der Flaggenbilder */
    height: auto; /* Höhe wird automatisch an die Breite angepasst */
    margin-left: 10px; /* Abstand zwischen den Flaggenbildern */
}
